*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 70%;
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('./img/h1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
}
.top{
    position: absolute;
    width: 100%;
    height: 10vh;
    background: rgba(255, 255, 255, 0.5);
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 12px;
    font-weight:100;
    justify-content: center;
    align-items: center;
}

.content h1{
    color: #EC7063;
    letter-spacing: 10px;
    font-family: 'Dancing Script', cursive;
    margin: 14px;
    font-weight: 100;
}

.icons{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 5px;
}

.icons .fab{
    margin: 0 8px;
    color: #aaa5a5;
}

.content p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8d8888;
    margin: 15px 10px;
}

.contain{
    display: flex;
}

.container-2{
    height: 100vh;
    width: 30%;
    background: #EC7063;
    display: flex;
    border-left: 100px;
    justify-content: center;
    align-items: center;
}

.container-content{
    height: 90%;
    width: 90%;
    background: rgb(255, 254, 254);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.heading{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.heading h4{
    color: #EC7063;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.toggle{
    position: absolute;
    top:10px;
    right: 10px;
    position: fixed;
    cursor: pointer;
}

.toggle div{
width: 25px;
height: 2.5px;
margin: 3px;
background: rgb(0, 0, 0);
}

.aside{
    width: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(3, 3, 3, 0.836);
    position: absolute;
    transition: .1s ease-in;
    overflow: hidden;
    top: 0%;
    z-index: 1000;
    left: 0;
    position: fixed;
}
.btn{
    padding: 14px 28px;
    outline: none;
    background:#784212;
    color: #aaa5a5;
    /* border: none; */
    cursor: pointer;
}
.text{
 margin: 20px;   
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 line-height: normal;
 color: #784212;
}
.btm{
    padding: 14px 28px;
    outline: none;
    background:#c5c3c1;
    color: #1d1c1c;
    border: none;
    cursor: pointer;
    margin: 10px;  
}
.box-aside ul{
list-style-type: none;
line-height: 15vh;
}
.box-aside li a{
    text-decoration: none;
    color: #d1c5c5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}
.showcase{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}
.case1{
    width: 60%;
    background:#EC7063;
    height: 400px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.case1 h4{
   text-align: center;
   margin-top: 5px; 
   padding: 15px 0;
   letter-spacing: 10px;
   font-family: 'Dancing Script', cursive;
   text-transform: uppercase;
   color: #c5c3c1;
}

.case1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding:10px;
    line-height: 1.5;
}
.case2{
    width: 30%;
    height: 400px;
    margin: 20px 0;
    cursor: pointer;
}
.case2 img{
    width: 100%;
    height: 100%;
}
.objectives{
    width: 100%;
    margin: 10px 0;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.object{
    height: 40vh;
    width: 20%;
    background-color: #8d8888;
    position: relative;
    margin: 15px 15px;
}
.obj-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.obj-img{
    width: 100%;
    background-image:url('./img/d1.jpeg');
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.obj-content-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.obj-img-1{
    width: 100%;
    background-image:url('./img/a1.jpeg');
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.obj-content-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.obj-img-2{
    width: 100%;
    background-image:url('./img/a4.jpeg');
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 20px;
}
.container-a {
    overflow: hidden;
    display: block;
    transition: .9s ease;
    margin: 0 100px;
}
  
  .filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 18rem;
    line-height: 100px;
    text-align: center;
    margin: 1px;
    transition-delay: 2s;
    height: 12rem;  
    transition: .9s ease;
    transition-delay: 2s;
    display: none; 
  }
  .container-a img{
      width: 100%;
      height: 100%;
      transition-delay: 2s;
    transition: .9s all ease-in;

  }
  
  .show {
    display: block;
    transition: .9s ease;
    transition-delay: 2s;
    transition: .9s all ease-in;
  }
  

  .btn {
    border: 2px solid #070707;
    outline: none;
    padding: 14px 28px;
    background-color:rgb(255, 0, 0);
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    color:#fff;
  }
  

  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: rgb(73, 68, 68);
    color: white;
  }

  .center-heading{
      display: flex;
      justify-content: center;     
  }
  .center-heading h4{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
  }

  .container-1{
    width:90%;
    height: 60vh;
    background-image:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('../img/bbc.jpg');
    margin: 20px auto;
    font-family: 'Alegreya Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 100%;
background: #EC7063;
height: 100%;
padding: 15px;
box-shadow: 0 10px 10px rgba(0,0,0,.5);

}
.foo {
    padding: 10px;
    margin: 10px;
}
.first{
    padding: 10px;
    outline: none;
    margin: 0;
    width: 120px;
}
.second{
    padding: 10px;
    outline: none;
    width: 120px;
    margin: 0;

}
.text-area{
    width: 400px;
    height: 300px;
    padding:10px 0;
}
textarea{
    width: 100%;
    height: 100%;
    outline: none;
    display:flex;
    justify-content:center;
}

.box2{
width: 100%;
background:rgb(95, 94, 94);
height: 100%;
padding: 15px;
color: rgb(43, 41, 41);
position: relative;
box-shadow: 0 10px 10px rgba(0,0,0,.5);
}
.box2 h3{
 text-align: center;
}
.location{
    margin: 20px;
}
.location p{
    padding:3px;
    font-size: 14px;
    display: flex;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.one, .two , .three{
    display: flex;
    margin: 8px;
}
.one, .two, .three p{
    padding:5px 0;
}
.fas{
    color: #EC7063;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.end{
    width: 100%;
    height: 15vh;
    color: #a59f9f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.end-content h3{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: #2c2a29;
}
.end-content a{
    text-decoration: none;
    color: #d3d3d3;
}
.conatiner-3{
    width: 90%;
    margin: auto;
    height: 60vh;
   background: #1d1c1c;
   display: flex;
}
.div1{
    width: 70%;
    height: 100%;
}
.div2{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #a59f9f;
}
.div3{
    width: 100%;
    height: 50%;
    background: rgb(48, 46, 46);
}
.div4{
    width: 100%;
    height: 50%;
    background: rgb(26, 25, 25);
}
.bottom{
    height: 15vh;
    margin: 10px;
    background: #EC7063;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content:center !important;
    align-items: center;
    flex-direction: column;
}
.bottom h4{
    color: #efefef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
}


























  /* responsive breakpoints */

@media screen and (max-width:768px){
    .container{
        height: 100vh;
        width: 100%;
    }
    .aside{
     height: 100vh;
    }
    .toggle div{
        background: #0f0f0f;
    }
    .container-2{
    display: none;
    }
    .showcase{
     flex-direction: column;
 }
 .case1{
     width: 99%;
     height: 600px;
     margin: 1px auto;
 }
 .case2{
     width: 99%;
     margin: 1px auto;
     height: 300px;
 }
 .objectives{
     flex-direction: column;
     height: 100vh;
     margin-bottom: 100px;
 }
 .object{
     width:85%;
     margin: 10px 0;
     height: 30vh;
   }
   .container-1{
    flex-direction: column;
    width: 100%;
    height: 800px;
}
.conatiner-3{
    flex-direction: column;
    height: 120vh;
}
.div1{
    width: 100%;
    height: 60%;
    
}
.div2{
    width: 100%;
    height: 60%;
}
 }

 @media screen and (max-width:500px){
    .container-1{
        flex-direction: column;
        width: 100%;
        height: 800px;
    }
    .text-area{
        height: 200px;
        width: 300px;
    }

    .box1{
        max-width: 500px;
    }
    .foo{
        padding:2px;
        height: 200px;
        width: 300px;
        margin:0 10px;
    }
    .fee{
        padding-top: 0;
        height: 200px;
        width: 300px;
    }
    .box1{
        width: 100%;
    }
    .box2{
    max-width: 100%;
}
.container-a{
    margin: 20px auto;
}
.filterDiv{
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 0 30px;
}
.conatiner-3{
    flex-direction: column;
    height: 140vh;
}
.div1{
    width: 100%;
    height: 70%;
    
}
.div2{
    width: 100%;
    height: 70%;
}

 }


/* responsive breakpoints end */